@keyframes flyInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fly-in {
    animation: flyInFromTop 1s ease-out forwards;
}

.fly-in-if-in-view {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s, transform 1s;
}

.fade-in-if-in-view {
    opacity: 0;
    transition: opacity 1.9s;
}

.fade-in-if-in-view.in-view {
    animation: fadeIn 1.9s ease-out forwards;
}
.fly-in-if-in-view.in-view {
    animation: flyInFromTop 1s ease-out forwards;
}

.fade-in {
    animation: fadeIn 2.9s ease-in forwards;
}