@keyframes flyInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fly-in {
    animation: flyInFromTop 1s ease-out forwards;
}

.fade-in {
    animation: fadeIn 2.9s ease-in forwards;
}